@import 'assets/scss/index.scss';

.home-page-container {
  background-color: $green;

  @include responsive(mobile) {
    background-color: red;
  }

  @include responsive(tablet) {
    background-color: yellow;
  }
}
